<!-- Created by Instant Zero (http://www.instant-zero.com) -->
<{$breadcrumb}>
<br />
<{if $global_advert != ''}><div id="oledrion_publicite"><{$global_advert}></div><{/if}>
<br />
<h2><{$list.list_title}></h2>
<{$smarty.const._OLEDRION_BY}> <a href="<{$xoops_url}>/userinfo.php?uid=<{$list.list_uid}>"><{$list.list_username}></a> <small>(<{$list.list_formated_date}>)</small>
<br />
<{if xoops_trim($list.list_description) != ''}>
	<div align="justify">
		<br /><{$list.list_description}>
	</div>
<{/if}>
<br />
<{if count($products) > 0 }>
	<div class="featured-blocks-titles">
		<h3><img src="<{$smarty.const.OLEDRION_IMAGES_URL}>icon-product-person.png" alt="<{$smarty.const._OLEDRION_RECOMMENDED}>" border="0" /><{$smarty.const._OLEDRION_PROD_IN_THIS_LIST}></h3>
	</div>
	<table border="0" class="oledrion_productindex">
	<{foreach item=product from=$products}>
	<tr>
		<td class="oledrion_productthumb"><{if $product.product_thumb_url}><a href="<{$product.product_url_rewrited}>" title="<{$product.product_href_title}>"><img src="<{$product.product_thumb_full_url}>" alt="<{$product.product_href_title}>" border="0" /></a><{/if}></td>
		<td class="oledrion_productssummary">
		<table width="100%" cellspacing="0">
	  <tr>
	    <td class="page-curl_01">
			<div class="oledrion_producttitle">
				<{$product.product_recommended_picture}><a href="<{$product.product_url_rewrited}>" title="<{$product.product_href_title}>"><{$product.product_title}></a>
			</div>
			<{if $product.product_joined_manufacturers != ''}>
				<div class="oledrion_productauthor">
					<img src="<{$smarty.const.OLEDRION_IMAGES_URL}>author.png" alt="" border="0" /><{$smarty.const._OLEDRION_BY}> <{$product.product_joined_manufacturers}>
				</div>
			<{/if}>
			<{if $mod_pref.use_price}><div class="oledrion_productprice"><{if $product.product_stock > 0 }><{$smarty.const._OLEDRION_PRICE}> <a href="<{$smarty.const.OLEDRION_URL}>caddy.php?op=addproduct&product_id=<{$product.product_id}>" title="<{$smarty.const._OLEDRION_ADD_TO_CART}>"><{if $product.product_discount_price_ttc > 0}><s><{$product.product_price_ttc}></s> <{$product.product_discount_price_ttc}><{else}><{$product.product_price_ttc}><{/if}> <{$mod_pref.money_full}> <img src="<{$smarty.const.OLEDRION_IMAGES_URL}>cartadd.png" alt="<{$smarty.const._OLEDRION_ADD_TO_CART}>" border="0" /></a><{else}><{$mod_pref.nostock_msg}><{/if}></div><{/if}>
		</td>
	  </tr>
	</table>
		</td>
	</tr>
	<{/foreach}>
	</table>
<{/if}>

<{if isset($otherUserLists) && count($otherUserLists) > 0 }>
	<br />
	<h4><{$smarty.const._OLEDRION_OTHER_LIST_FTUSER}></h4>
	<ul>
	<{foreach item=otherList from=$otherUserLists}>
		<{if $otherList.list_id != $list.list_id }>
			<li><a href="<{$otherList.list_url_rewrited}>" title="<{$otherList.list_href_title}>"><{$otherList.list_title}></a> <small>(<{$otherList.list_formated_date}>)</small></li>
		<{/if}>
	<{/foreach}>
	</ul>
<{/if}>