<!-- Created by Instant Zero (http://www.instant-zero.com), Design XoopsDesign (http://www.xoopsdesign.com) -->
<{$breadcrumb}>
<br />
<div id="oledrion-logo">
  <img src="<{$smarty.const.OLEDRION_IMAGES_URL}>oledrion.png" width="235"  height="45" alt="" border="0"  />
</div>

<{if $welcome_msg != ''}>
	<table width="100%" cellspacing="0">
	  <tr>
	    <td class="box_blue-clip_01"></td>
	    <td class="box_blue-clip_02"></td>
	    <td class="box_blue-clip_03"></td>
	  </tr>
	  <tr>
	    <td class="box_blue-clip_04"></td>
	    <td class="welcome-message">

	<div>
		<div id="oledrion_welcome"><{$welcome_msg}></div>
	</div>

		</td>
	    <td class="box_blue-clip_05"></td>
	  </tr>
	  <tr>
	    <td class="box_blue-clip_06"></td>
	    <td class="box_blue-clip_07"></td>
	    <td class="box_blue-clip_08"></td>
	  </tr>
	</table>
<{/if}>

<{if $mod_pref.advertisement != ''}><div id="oledrion_publicite"><{$mod_pref.advertisement}></div><{/if}>
<br />
<{if count($products) > 0 }>
	<div class="featured-blocks-titles"><h2><img src="<{$smarty.const.OLEDRION_IMAGES_URL}>icon-product-person.png" alt="<{$smarty.const._OLEDRION_RECOMMENDED}>" border="0" /><{$smarty.const._OLEDRION_RECOMMENDED}></h2></div>
	<table border="0" class="oledrion_productindex">
	<{foreach item=product from=$products}>
	<tr>
		<td class="oledrion_productthumb"><{if $product.product_thumb_url}><a href="<{$product.product_url_rewrited}>" title="<{$product.product_href_title}>"><img src="<{$product.product_thumb_full_url}>" alt="<{$product.product_href_title}>" border="0" /></a><{/if}></td>
		<td class="oledrion_productssummary">

		<table width="100%" cellspacing="0">
	  <tr>
	    <td class="page-curl_01">
			<div class="oledrion_producttitle">
				<{$product.product_recommended_picture}><a href="<{$product.product_url_rewrited}>" title="<{$product.product_href_title}>"><{$product.product_title}></a>
			</div>
			<{if $product.product_joined_manufacturers != ''}>
				<div class="oledrion_productauthor">
					<img src="<{$smarty.const.OLEDRION_IMAGES_URL}>author.png" alt="" border="0" /><{$smarty.const._OLEDRION_BY}> <{$product.product_joined_manufacturers}>
				</div>
			<{/if}>
			<{if $mod_pref.use_price}><div class="oledrion_productprice"><{if $product.product_stock > 0 }><{$smarty.const._OLEDRION_PRICE}> <a href="<{$smarty.const.OLEDRION_URL}>caddy.php?op=addproduct&product_id=<{$product.product_id}>" title="<{$smarty.const._OLEDRION_ADD_TO_CART}>"><{if $product.product_discount_price_ttc > 0}><s><{$product.product_price_ttc}></s> <{$product.product_discount_price_ttc}><{else}><{$product.product_price_ttc}><{/if}> <{$mod_pref.money_full}> <img src="<{$smarty.const.OLEDRION_IMAGES_URL}>cartadd.png" alt="<{$smarty.const._OLEDRION_ADD_TO_CART}>" border="0" /></a><{else}><{$mod_pref.nostock_msg}><{/if}></div><{/if}>
		</td>
	  </tr>
	</table>
		</td>
	</tr>
	<{/foreach}>
	</table>
<{/if}>

<{if $pagenav}>
	<br /><div align='center'><{$pagenav}></div>
<{/if}>
