<!-- Created by Instant Zero (http://www.instant-zero.com) -->
<link href="<{$xoops_url}>/modules/oledrion/include/oledrion.css" rel="stylesheet" type="text/css" />
<ul>
	<{foreach item=product from=$block.block_caddieProducts}>
		<li><a href="<{$product.product_url_rewrited}>" title="<{$product.product_href_title}>"><{$product.product_title}></a></li>
	<{/foreach}>
</ul>
<br />
<div class="oledrion_carttotal">
	<a href="<{$xoops_url}>/modules/oledrion/caddy.php"><{$smarty.const._OLEDRION_TOTAL}> <{$block.block_commandAmountTTC}> <{$block.block_money_short}></a>
</div>
